<div>
    <h2 style=" margin: 20px 0px 20px 120px">Seja bem vindo!</h2>
    <h3 style=" margin: 20px 0px 20px 120px"> Para comecar a jogar só apertar o botão de Iniciar Jogo logo abaixo!</h3>
</div>

  <div id="iniciar-partida">
     <a href="/jogo/game" class="btn btn-lg btn-success">Iniciar Jogo!</a>
  </div>