
body, h1, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 5px solid #000;
}


.box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.red {
    background-color: #FF0000;
    color: #FFF;
    border: 5px solid #51ff00;
}


.blue {
    background-color: #0000FF;
    color: #FFF;
    border: 5px solid #fff200;
}
