<body>
    <div class="container">
        <h1>Sobre o Jogo do Dino</h1>
        <img class="centered-image expanded-image" src="/img/Dino.png" alt="Dino">
 <p>
        O "Jogo do Dino" do Chrome, também conhecido como "Chrome Dino" ou "T-Rex Game," é um jogo de navegador integrado ao Google Chrome. Ele foi criado como um "easter egg" (uma surpresa escondida) e é projetado para ser jogado quando o navegador detecta que o usuário está offline, ou seja, quando não há conexão à internet disponível. O jogo é um passatempo divertido para entreter os usuários enquanto estão sem acesso à web.
    </p>

    <h2>Mais Detalhes sobre o Jogo:</h2>
    <ul>
        <li><strong>Mecânica de Jogo:</strong> No jogo, o jogador controla o T-Rex e precisa pular sobre obstáculos, como cactos, que surgem no caminho. O objetivo é sobreviver o máximo de tempo possível e marcar pontos. O jogo fica mais desafiador à medida que o T-Rex corre mais rápido e obstáculos aparecem com mais frequência.</li>
        <li><strong>Controles Simples:</strong> O jogo tem controles muito simples. Você usa a barra de espaço para fazer o T-Rex pular e evitar os obstáculos. Pressionando a tecla de seta para baixo, o T-Rex se abaixa, o que é útil para passar por obstáculos baixos.</li>
        <li><strong>Recorde e Desafios:</strong> O jogo mantém um registro de sua pontuação máxima, incentivando os jogadores a tentarem superar seus próprios recordes e desafiar amigos.</li>
        <li><strong>Estilo Visual:</strong> O jogo tem um estilo visual minimalista e retrô, com gráficos em preto e branco e uma sensação de 8 bits.</li>
        <li><strong>Disponibilidade:</strong> O jogo do Dino está disponível em todas as versões do Google Chrome e pode ser acessado quando o navegador detecta que você está offline.</li>
    </ul>

    <p>
        O jogo do Dino é uma adição divertida e única ao navegador Chrome, e muitas pessoas o jogam ocasionalmente para se divertir ou para passar o tempo quando estão offline. É uma homenagem divertida aos jogos clássicos e uma das características marcantes do Chrome.
    </p>
    </div>
</body>