<div class="container">
    <i class="fa-solid fa-user"></i>
    <h1>Olá {{username}}, seja bem vindo!</h1>
    <h2>Este trabalho foi desenvolvido por Luan Alencar, para a disciplina de Programação Web :)</h2>
    <h2>Github: <a href="https://github.com/luanacarlos">Linkedin</a> </h2>
    <h2>Linkedin: <a href="https://www.linkedin.com/in/luan-alencar/">Linkedin</a> </h2>
    <h2>Email: <a href="mailto:luan.alencar@icomp.ufam.edu.br">Enviar um email</a> </h2>
</div>
