<!DOCTYPE html>
<html>
<head>
    <title>Express + HBS!</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sobre o Jogo do Dino</h1>
        <img src="/img/Dino.png" alt="Dino">
        <p>
            T-Rex Game, também denominado Chrome Dino, é um jogo integrado ao navegador Google Chrome. O jogo foi criado por Edward Jung, Sebastien Gabriel e Alan Bettes em 2014 como um ovo de páscoa que aparece quando estiver offline e fizer uma pesquisa no Google Chrome. Nesse momento, aparece uma imagem de um tiranossauro e, pressionando a barra de espaço, inicia-se o jogo. O T-Rex Game é jogado 270 milhões de vezes mensalmente (2018).
        </p>
    </div>
</body>
</html>
